.cart {
  &--inner {
    padding: 24px 16px;
  }
  &--head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &--title {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #151515;
  }
  &--close {
    font-size: 12px;
    line-height: 16px;
    color: #d1d1d1;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
      margin-left: 4px;
    }
  }
  &--body {
    overflow: auto;
    height: 370px;
    .cart--item {
      display: grid;
      grid-template-columns: 100px auto;
      grid-template-rows: auto;
      column-gap: 16px;
      margin-bottom: 32px;
      .image {
        grid-area: 1/1/3/1;
      }
      .wishlist {
        grid-area: 3/1/3/1;
        img {
          width: 12px;
          height: 12px;
          object-fit: cover;
        }
        span {
          font-size: 12px;
          line-height: 16px;
          color: #a9a9a9;
          margin-left: 6px;
        }
      }
      .close {
        grid-area: 4/1/4/1;
        cursor: pointer;
        span {
          font-size: 12px;
          line-height: 16px;
          margin-left: 6px;
          color: #a9a9a9;
        }
      }
      .name {
        grid-area: 1/2/1/2;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-transform: capitalize;
        margin-bottom: 7px;
        color: #151515;
      }
      .details {
        &--row {
          display: grid;
          grid-auto-columns: 100px auto;
          margin-bottom: 7px;
          .title {
            font-size: 12px;
            line-height: 16px;
            color: #a9a9a9;
          }
          .desc {
            font-size: 12px;
            line-height: 16px;
            grid-area: 1/2/1/2;
          }
        }
      }
      .bottom {
        grid-area: 6/2/6/2;
        display: flex;
        justify-content: space-between;
        .price {
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #6a983c;
          span {
            display: block;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-decoration-line: line-through;
            color: #a9a9a9;
          }
        }
        .quantity {
          display: flex;
          border: 1px solid #d1d1d1;
          border-radius: 12px;
          font-size: 14px;
          box-sizing: border-box;
          span {
            padding: 14px 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
  &--foot {
    margin-top: 120px;
    .subtotal {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 24px;
      span {
        margin-top: 8px;
        display: block;
        font-size: 26px;
      }
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #ebebeb;
      padding: 16px;
      .btn-buy {
        width: 150px;
      }
      .btn--apply {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
      }
    }
  }
}
