.category {
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--title {
      font-weight: 600;
      font-size: 32px;
    }
    &--group {
      display: flex;
      align-items: center;
    }
    &--item {
      text-decoration: none;
      color:#151515;
      &:not(:last-child) {
        padding-right: 24px;
      }
      .type {
        font-size: 12px;
        margin-left: 4px;
      }
      .number {
        color: #6a983c;
        background-color: #f4f8ec;
        padding: 2px 8px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        border-radius: 12px;
      }
    }
  }
  .filter--top {
    margin: 26px 0 64px;
    &__group {
      display: flex;
      align-items: center;
      .filter--item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #f9f9f9;
        border: 1px solid #d1d1d1;
        border-radius: 8px;
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
    &__applied {
      display: flex;
      align-items: center;
      margin-top: 16px;
      h3 {
        font-weight: 600;
        font-size: 12px;
        font-weight: 600;
        color: #a9a9a9;
        margin-right: 12px;
      }
      .selected--group {
        display: flex;
        align-items: center;
        .selected--item {
          position: relative;
          color: #6a983c;
          background-color: #f4f8ec;
          padding: 6px 24px 6px 8px;
          font-size: 12px;
          font-weight: 600;
          border-radius: 12px;
          margin-right: 12px;
          &::after,
          &::before {
            position: absolute;
            content: "";
            width: 10px;
            height: 2px;
            border-radius: 8px;
            background-color: #c8deb3;
            right: 9px;
            bottom: 11px;
          }
          &::after {
            transform: rotate(45deg);
          }
          &::before {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .filter--bar {
    &__item {
      margin-bottom: 48px;
      .title {
        font-weight: 600;
        font-size: 18px;
        columns: #151515;
        margin-bottom: 16px;
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 12px;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #151515;
            text-decoration: none;
            font-size: 14px;
            .number {
              color: #6a983c;
              background-color: #f4f8ec;
              padding: 0 8px;
              line-height: 18px;
              font-size: 12px;
              font-weight: 600;
              border-radius: 12px;
            }
          }
        }
      }
      .field {
        padding: 0;
      }
      .slider {
        position: relative;
        z-index: 1;
        height: 6px;
        .track {
          position: absolute;
          z-index: 1;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 5px;
          background-color: #ebebeb;
        }
        .range {
          position: absolute;
          z-index: 2;
          left: 25%;
          right: 25%;
          top: 0;
          bottom: 0;
          border-radius: 5px;
          background-color: #6a983c;
        }
        .thumb {
          position: absolute;
          z-index: 3;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #d1d1d1;
          background-color: #fff;
          &.left {
            left: 25%;
            transform: translate(-15px, -7px);
          }
          &.right {
            right: 25%;
            transform: translate(15px, -7px);
          }
        }
      }
      input[type="range"] {
        // position: absolute;
        z-index: 2;
        height: 10px;
        width: 100%;
      }
      .multi-range {
        position: relative;
        #input-left {
          top: -100px;
        }
        #input-right {
          top: -50px;
        }
      }
      .price {
        margin: 16px 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--input {
          h3 {
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
          }
          input[type="text"] {
            width: 100px;
            outline: 0;
            border: 1px solid #d1d1d1;
            border-radius: 8px;
            padding: 10px 20px;
          }
        }
        .line {
          margin: 0 14px;
          background-color: #a9a9a9;
          width: 5px;
          height: 2px;
          position: relative;
          top: 9px;
        }
      }
      .button-form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .btn--more {
          width: 67px;
          span {
            color: #a9a9a9;
          }
        }
      }
    }
  }
  .paginate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 0;
    &--wrap {
      display: flex;
      align-items: center;
    }
    .page {
      color: #a9a9a9;
      font-size: 12px;
      line-height: 16px;
      &--wrap {
        display: flex;
        align-items: center;
        li {
          padding: 0 8px;
          a {
            font-size: 12px;
            color: #151515;
            text-decoration: none;
            &.current {
              color: #6a983c;
            }
          }
        }
      }
    }
    .total {
        color:#a9a9a9;
        font-size: 12px;
      .number {
        color: #6a983c;
        background-color: #f4f8ec;
        padding: 0 8px;
        line-height: 18px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 12px;
        margin-right: 4px;
      }
    }
  }
}