@import "./bootstrap_mini";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/breadcrumbs.scss";
@import "./reset";
@import "./components/card.scss";
@import "./components/cardlist.scss";
@import "./components/cart.scss";

//pages
@import "./pages/home.scss";
@import "./pages/category.scss";
@import "./pages/details.scss";
@import "./pages/checkout.scss";
@import "./pages/login.scss";

body,
html {
  overscroll-behavior: none;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.btn {
  width: 180px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  &--more {
    background: #f5f5f5;
  }
  &--recipes {
    border: 2px solid #6a983c;
    margin-left: 33px;
  }
  &-buy {
    border: 2px solid #46760a;
    background-color: #6a983c;
    width: 90px;
    cursor: pointer;
    span {
      color: #fff;
      font-weight: bold;
      font-size: 15px;
    }
  }
  &--apply {
    border: none;
    outline: none;
    font-size: 15px;
    padding: 6px 12px;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
  }
  span {
    font-weight: 700;
    font-size: 15px;
  }
  .right {
    margin-left: 6px;
  }
}
.field {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  input[type="radio"] {
    display: none;
    &:checked {
      + .radio::before {
        border: 6px solid #6a983c;
        background-color: #fff;
      }
    }
  }
  input[type="checkbox"] {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      font-size: 10px;
      color: #fff;
      display: none;
    }
    &:checked {
      background-color: #6a983c;
      border: 1.5px solid #46760a;
      &::after {
        display: block;
      }
    }
  }
  .checkbox {
    margin: 0 8px;
    font-size: 14px;
  }
  .radio {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #d1d1d1;
      margin-right: 10px;
    }
  }
  .nbm {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #ebebeb;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }
  .select {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 1px;
      height: 20px;
      margin: 0 24px;
      background-color: #d1d1d1;
    }
    .arrow {
      transform: rotate(90deg);
      margin-left: 4px;
    }
  }
  .start--group {
    margin-left: 8px;
  }
}
#popup-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  z-index: 2;
  background: #fff;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  &.is-open {
    transform: translateX(0);
    transition: transform 0.5s ease-in;
  }
}
