@import "./bootstrap_mini";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/breadcrumbs.scss";
@import "./reset";
@import "./components/card.scss";
@import "./components/cardlist.scss";
@import "./components/cart.scss";

//pages
@import "./pages/home.scss";
@import "./pages/category.scss";
@import "./pages/details.scss";
@import "./pages/checkout.scss";
@import "./pages/login.scss";
@import "./pages/profile.scss";

body,
html {
  overscroll-behavior: none;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.container--profile {
  width: 1200px;
  display: flex;
  padding: 1.25rem 0 3.125rem;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  width: 180px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  &--more {
    background: #f5f5f5;
    text-decoration: none;
    color: #000;
  }
  &--recipes {
    border: 2px solid #6a983c;
    margin-left: 33px;
  }
  &-buy {
    border: 2px solid #46760a;
    background-color: #6a983c;
    width: 90px;
    text-decoration: none;
    cursor: pointer;
    span {
      color: #fff;
      font-weight: bold;
      font-size: 15px;
    }
  }
  &--apply {
    border: none;
    outline: none;
    font-size: 15px;
    padding: 6px 12px;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
  }
  span {
    font-weight: 700;
    font-size: 15px;
  }
  .right {
    margin-left: 6px;
  }
}
.field {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  label {
    cursor: pointer;
  }
  i {
    width: 88px;
    height: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 6px;
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + .radio::before {
        border: 6px solid #6a983c;
        background-color: #fff;
      }
    }
  }
  input[type="checkbox"] {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      font-size: 10px;
      color: #fff;
      display: none;
    }
    &:checked {
      background-color: #6a983c;
      border: 1.5px solid #46760a;
      &::after {
        display: block;
      }
    }
  }
  .checkbox {
    margin: 0 8px;
    font-size: 14px;
  }
  .radio {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #d1d1d1;
      margin-right: 10px;
    }
  }
  .nbm {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #ebebeb;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }
  .select {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 1px;
      height: 20px;
      margin: 0 24px;
      background-color: #d1d1d1;
    }
    .arrow {
      transform: rotate(90deg);
      margin-left: 4px;
    }
  }
  .start--group {
    margin-left: 8px;
  }
}
#popup-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  z-index: 2;
  background: #fff;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
  transition: width 0.6s cubic-bezier(0.65, 0.005, 0.35, 0.995);
  &.is-open {
    width: 400px;
    transition: width 0.65s cubic-bezier(0.4, 0, 0.1, 1);
  }
}
.a-checkbox {
  position: relative;
  label {
    cursor: pointer;
    position: relative;
    top: -4px;
  }
  &.a-checkbox-fancy {
    input {
      width: 24px;
      height: 24px;
      &:checked + .a-icon-checkbox {
        background-position: top;
      }
    }
  }
}
.a-checkbox-fancy {
  input {
    border: 0 none;
    outline: 0 none;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    opacity: 0.02;
    bottom: auto;
  }
  .a-icon-checkbox {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-position: bottom;
  }
}
.aok-float-left {
  float: left !important;
}
.a-checkbox-label {
  position: relative;
  padding-left: 5px;
  text-indent: 0;
  display: inline-block;
  vertical-align: top;
}
.MuiPaginationItem-page.Mui-selected {
  background-color: #6a983c !important;
  color: #fff !important;
}
.flickity-button-icon {
  width: 15px;
}
.carousel.flickity-enabled.is-draggable {
  &:focus {
    outline: none;
  }
}

.popup-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-container {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow:visible;
  max-width: 100%;
  max-height: 100%;
}
.icon-popup{
  width: 440px;
  display:flex;
  align-items: center;
  font-size: 1rem;
  padding:30px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  background-color: #fff;
  flex-direction: column;
}
.fresh-popup {
  position: fixed;
  pointer-events: none;
  user-select: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
}
.success-popup__icon{
  margin-bottom: 10px;
}